{% extends 'reader/home_base.html' %}
{%load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
        <div class="d-flex ">
              <img src="{{ article.member.community.photo.url }}" alt="Profile Photo" class="rounded-circle img-fluid" style="width: 50px; height: 50px; object-fit: cover;">
              <p class="pt-3">{{article.member.community.name}}</p>
          </div>
      <p class="text-muted">Published on {{ article.date|date:"F j, Y" }}</p>
      <hr>
        <h2 class="card-title">{{ article.head }}</h2>
      <p class="card-text">{{ article.content|linebreaks }}</p>
      <a href="{% url 'reader_page' %}" class="btn btn-secondary mt-3">Back to Articles</a>
    </div>
  </div>
</div>
{% endblock %}