{% extends 'reader/home_base.html' %}
{%load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h3>Community</h3>
    <div class="card p-5">
        <img src="{{ community.photo.url }}" alt="Profile Photo" class="rounded-circle img-fluid" style="width: 100px; height: 100px; object-fit: cover;">
    <h1>{{ community.name }}</h1>
        <p>{{ community.description}}</p>
        {% if member is None %}
        <a href="{% url 'join_request' community.id %}" class="btn btn-primary">JOIN</a>
        {% elif member.account_status == "pending" %}
        <p> Request sent </p>
        {% elif member.account_status == "denied" %}
        <p class="text-danger"> Request declined </p>
        {% else %}
        <p> you are a member </p>
        {% endif %}
    </div>

    <h3>Articles</h3>
    {% for article in articles %}
    <div class="card">
        <a href="" class="text-black">
          <div class="d-flex ">
              <img src="{{ article.member.community.photo.url }}" alt="Profile Photo" class="rounded-circle img-fluid" style="width: 50px; height: 50px; object-fit: cover;">
              <p class="pt-3">{{article.member.community.name}}</p>
          </div>
        </a>
        <div>
            <p class="px-3">Published on {{ article.date|date:"F j, Y" }}</p>
        </div>
        <hr class="border border-mute border-2 opacity-75">
        <div class=" px-3 pb-2">
            <h2 class="card-title">{{ article.head }}</h2>
            <h6 class="card-subtitle mb-2 text-muted">Sub:{{ article.subject }}</h6>
            <p class="card-text ">{{ article.content }}.</p>
<!--            <a href="#" class="btn btn-outline-primary">View full article</a>-->
      </div>
        <hr class="border border-mute border-2 opacity-75">
        <div class="px-3">
            <p>written by : &nbsp;{{ article.member.reader.name }} </p>
        </div>
    </div>
{% endfor %}


</div>



{% endblock %}