{% extends 'reader/home_base.html' %}
{%load crispy_forms_tags %}
{% block content %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
{{message}}
</div>
{% endfor %}
<h1>Communities</h1>
<div class="d-flex">
    {% for community in communities %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ community.photo.url }}" alt="Card image cap"  style=" width: 18rem height: 15rem ">
            <div class="card-body">
            <h5 class="card-title">{{community.name}}</h5>
            <p class="card-text">{{community.description}}</p>
            <a href="{% url 'community_detail' community.id %}" class="btn btn-primary">View</a>
            </div>
        </div>
    &nbsp;    &nbsp;    &nbsp;
{% endfor %}


</div>
{% endblock %}
