{% extends 'reader/home_base.html' %}
{%load crispy_forms_tags %}
{% block content %}

<section id="best-selling" class="leaf-pattern-overlay">
		<div class="corner-pattern-overlay"></div>
		<div class="container">
			<div class="row justify-content-center">
				<table>
					<tr>
						<th>Name:</th>
						<th>{{ user.name }}</th>
					</tr>
					<tr>
						<th>Email:</th>
						<th>{{ user.email }}</th>
					</tr>
					<tr>
						<th>Phone:</th>
						<th>{{ user.phone }}</th>
					</tr>
					<tr>
						<th>Address:</th>
						<th>{{ user.address }}</th>
					</tr>
					<tr>
						<th></th>
						<th><a href="{% url 'reader_update' user.id%} "  class="btn btn-primary">Update</a> </th>
					</tr>
				</table>
            </div>
		</div>
	</section>
{% endblock %}